@mixin centerAlign {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

header {
    @include centerAlign();
    background-color: lightpink;
    color: $text-clor;
}

header button {
    background: $primary-button;
}

header button:hover {
    background: $hover-color;
}